* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url('Images/admin_dashboard.jpg');
    background-color: #cccccc;
    background-size: cover;
    background-position: center;
    margin: 0;
    position: relative; /* Set position to relative */
}

/* Navigation bar Start */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    border: 2px solid rgba(255, 254, 254, 0.659);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    width: 100%;
    position: absolute; /* Set position to absolute */
    top: 0; /* Position at the top */
    font-weight: 600;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #ddd;
}

ul.SignLog {
    list-style-type: none;
    margin: 0;
    float: right;
}

ul.SignLog li {
    display: inline-block;
    margin-left: 10px;
}

ul.SignLog li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Navigation bar End */


.wrapper { 
    margin-top: 10px;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);    color: #333;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.wrapper .input-box {
    margin-bottom: 20px;
}

.input-box input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 2px solid #fdfdfd;
    border-radius: 5px;
    font-size: 16px;
    color: #ffffff;
    padding: 10px;
    outline: none;
}

.input-box input::placeholder {
    color: #f6f6f6;
}


.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #3dffa8;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.743);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: background 0.3s ease-in-out;
}

.wrapper .btn:hover {
    background: rgb(131, 124, 230); 
}